body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::backdrop {
    backdrop-filter: blur(10px);
}

#ui-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 250px;
    height: 100vh;
}

.banner,
.boards,
.scoreboard {
    border: 1px solid black;
}

.banner {
    grid-row: 1 /2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boards {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scoreboard {
    grid-row: 3 / 4;
}

.grid {
    aspect-ratio: 1/1;
    min-height: 600px;
    border: solid 2px black;
}

.grid > .row {
    display: flex;
}

.grid > .row > .cell {
    aspect-ratio: 1/1;
    border: solid 2px black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
}

.grid > .row > .cell:hover {
    cursor: pointer;
}

.ship {
    background-color: red;
}

.miss {
    background-color: aqua;
}

.hit {
    background-color: orange;
}

#continue {
    display: none;
}
